.cont-loader{
    display: flex; 
    gap: 10px;
    width: 100%;
    max-width: 320px;
    margin: 0 auto; 
    margin-top: 30px;
    justify-content: center;
            align-items: center;
}
.loader-tex{
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
.loader {
    width: 38px;
    height: 38px;
    border: 5px solid hsl(0, 0%, 6%);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 